*~
\#*
.metadata
.classpath
.project
.settings
bin
javascrips/conformance.html
bindist
prom5_log_files

PetriNetReplayAnalysis/dist/

BPMNMeasures/dist/

examples
cover-xml
prom61_origin
rupos_context
cover-html
cobertura.ser
bin-test
bin-test-instrument
TEST-org.processmining*
